body {
	max-width: 790px;
	margin-left: auto;
	margin-right: auto;
	background-color: #333;
	font: 100%/1.5 Arial, Helvetica, sans-serif;
	text-align: left;
	padding:2.531646%; /*20px/790px*/

}
/*======== top button =======*/
.top {
   border-top: 1px solid #ffffff;
   background: #ba7007;
   background: -webkit-gradient(linear, left top, left bottom, from(#facead), to(#ba7007));
   background: -webkit-linear-gradient(top, #facead, #ba7007);
   background: -moz-linear-gradient(top, #facead, #ba7007);
   background: -ms-linear-gradient(top, #facead, #ba7007);
   background: -o-linear-gradient(top, #facead, #ba7007);
   padding: 10px 21px; /*10.5px 21px*/
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px; /*9px*/
   border-radius: 9px;
   -webkit-box-shadow: rgba(0,0,0,1) 5px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 5px 0;
   box-shadow: rgba(0,0,0,1) 0 5px 0;
   text-shadow: rgba(0,0,0,.4) 0 2px 0;
   color: white;
   font-size: 0.8125em; /*13px*/
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;

   }
   
.top:hover {
   border-top-color: #ffffff;
   background: #ffffff;
   color: #636163;
   }
.top:active {
   border-top-color: #ff8d14;
   background: #ff8d14;
  }
/*====== header and image starts below ===== */   
   
header {
	width:100%;
	margin: auto;
	background-color: rgb(255,255,255);
}


header img {
	/*float: left;*/
	width: 27.7721519%; /*219px/790px*/
	padding: 2.531646%; /*20px*/
}


	
#nav ul {
	
	width: 100%; /*531px/790px*/
	margin: 0 auto; /*-5px/525*/
	padding: 2.531646%; /*20px*/
	list-style: none;
	overflow: hidden;
}


#nav li {
	width: 19.047619%; /*100px/526*/
	background-color: #333;
	font-family: Yellowtail, cursive;
	font-size: 1.375em; /*22px*/
	font-color: #63413b;
	float: left;		
}


#nav a:link{
	text-decoration: none;
	background: #c60;
	display: block;
	height: 1.875em; /*30px*/
	line-height: 1.875em; /*30px*/
	text-align: center;
	color: #FFF;
}

	
#nav a:visited {
	color: #FFF;
	background-color: #C60;
}


#nav a:hover {
	color: #FFF;
	background-color: #666;
}


#nav a:active {
	color: #999;
	background-color: #FFF;
}





	
/*-----------------------------------end of top nav--------*/
	
h2, h3, h4 {
	font: Squada One, cursive;
	font-weight: normal;
	text-shadow: 0.125em 0.00em 0.125em rgb(51,51,51); /*2px 0px 2px #000*/
	line-height:1.5;
	
}

h2 {
	font-size: 2.8125em; /*45px*/
	clear: both;
	color: #fff;
	margin-left: 2.531646%; /*20px*/
}

h3 {
	font-size: 1.875em; /*30px*/
	color: #FFF;
}

h4 {
	font-size: 1.625em; /*26px*/
	color: rgb(51,51,51);	
}



/*=========heading tags ========*/
#bobhistory{
	width:100%;
	background-color:silver;
	margin:0 auto;
	/*padding: 2.531646%; /*20px/790*/
}
article {
	width: 97.468354%; /*770px*/
	/*padding: 1.898734%; /*15px*/
	margin-top: 6.329114; /*50px*/
	margin-right: 2.531646%;
	margin-left:2.531646%;
	
	-moz-column-count:3; /* Firefox */
	-webkit-column-count:3; /* Safari and Chrome */
	column-count:3;

	-moz-column-gap: 1.250em; /*20px*/; 
	-webkit-column-gap:1.250em; 
	column-gap:1.250em;

	-moz-column-rule:0.125em outset #fff;
	-webkit-column-rule:0.125em outset #fff; 
	column-rule:0.125em outset #fff;
}
/* =======column text==========*/

#intro {
	background-image: url(../images/bg_image.gif);
	background-repeat: repeat-y;
	max-width: 100%;
}

#main_image {
	max-width:100%; /*640px/790 81.012658%*/
	margin:0 auto;
	padding: 2.531646%; /*20px/790*/
	
}

#main_image img{
	max-width:100%;
	margin:0 auto;
	/*padding: 2.531646%;*/

}


#intro p {
	margin: auto;
	padding: 3.797468%; /*30px*/	
}

span{
	color:#fff;
	
}

/*----------------main image and content----------------------*/

#features  {
	width: 100%;
	background-color: rgba(204,51,0,0.75);
	margin: 0 auto;	
	
	
}

#features ol {
	color: #FFF;
	margin: 2.531646%; /*20px/790*/
		
}
	
#images{
	clear:both;
}
#images ul{
	
	list-style-type: none;
	width: 97.468354%; /*770px*/
	border: 0.250em solid #FF8C00;
	margin:0 auto;
	overflow:hidden;
}

#images li{
	float:left;
	margin:2.531646%; /*20px/770px*/
}

#images a:link{
	border: 0.188em solid #000;
	display: block;
	height: 6.250em; /*100px*/
	width: 6.250em;
	outline: 0;

}

	
#images a:visited {
	background-color: #C60;
}


#images a:hover {
	border-color: #999;
}


#images a:active {
	border-color:#FFF;
}




/* ------------------------end of image gallery--------*/

table {
	/*float:left;*/
	width:100%;
	border-collapse: collapse;
	color: #FFF;
	margin:0 auto;
	
}

td { 
	width: 39.367089%; /*311/790*/
	border: 0.125em solid #999;
	padding: .5em;
}

th { 
	max-width: 59.240506%; /*468px/790px*/
	text-align:left;
	padding: .5em;
}
/*----------------tables end---------------------------*/

#join {
	width: 97.468354%; /*770px*/
	color: #fff;
	background-color: rgb(102,102,102);
	padding: 1.298701%; /*10px*/
}

form{
	margin: 3.797468%; /* 30px*/
	
}

input [type="text"]{
	-webkit-appearance:none;
	border:1px solid #F63;
}

footer {
	background-color:#fff;
}



/*======================Media Queries=================*/
/*Tablet size to standard 960px (devices and browsers)*/
@media screen and (min-width: 768px) and (max-width:959px) {
	body { background-color: rgb(153,153,153);}
	
	}
	
/*Mobile landscape to Portrait size to Tablet (devices and browser) */
@media screen and (min-width: 480px) and (max-width:767px) {
	body 	{ background-color: rgb(0,0,0);}
	p { font-size:100%;}
	header img	{float: none;}
	header	{ width: 90%;
			background-color: rgba(255,255,255,);
			}
	#main_image img { display:none;}
	header .nav ul { width: 100%;}
	.nav li { font-size:100%;}
	h2 { font-size: 200%;}
	h3 { font-size: 100%;}
	h4 { font-size: 100%;}
	article { font-size:80%;
		-moz-column-width: 100%;
		webkit-column-width: 100%;
		-moz-column-count:1; /* Firefox */
		-webkit-column-count:1; /* Safari and Chrome */
		column-count: 1;
	}
	#main_image img { display:none;}
	#intro { background-image: none;}
	.top { background:none;
		font-size:100%;
		webkit-box-shadow: none;
   		-moz-box-shadow: none;
  		box-shadow: none;
  	 	text-shadow: none;
		
	}
	
}	
	
/*Mobile landscape to Portrait size to Tablet (devices and browser) */
@media screen and (max-width: 479px) {
	body { background-color: rgb(255,153,0);}
	p { font-size:100%;}
	#main_image img { display:none;
	clear:both;}
	header .nav ul { width: 80%;}
	.nav li { font-size:90%;}
	h2 { font-size: 200%;}
	h3 { font-size: 100%;}
	h4 { font-size: 100%;}
	article { 
		font-size:70%;
		-moz-column-width: 100%;
		webkit-column-width: 100%;
		-moz-column-count:1; /* Firefox */
		-webkit-column-count:1; /* Safari and Chrome */
		column-count:1;
	}
		
	#main_image img { display:none;}
	#intro { background-image: none;}
	header .nav ul { width: 80%;}5
	.top { background:none;
		font-size:100%;
		webkit-box-shadow: none;
   		-moz-box-shadow: none;
  		box-shadow: none;
  	 	text-shadow: none;
	}
	
}	
