body {
	line-height: 1.5em;
	width: 790px;
	margin-left: auto;
	margin-right: auto;
	background-color: #333;
}

.logo {
	background-color:#FFF;
	width:790px;
	height:95px;
	margin:autoh;
}
	
	
	
#intro {
		background-image: url(../images/bg_image.gif);
		background-repeat: repeat-x;
		
}



h1 {
	text-indent: -9000px;
	
}


header img{ 
	border:5px #000;
	float:left;
	padding:15px;
	margin:auto;
	
}
		
.nav ul {
	width:790px;
	margin: 0 auto;
	padding: 10px;
	list-style: none;
	overflow: hidden;
}


.nav li {
	width: 100px;
	background-color: #333;
	font-family: Yellowtail, cursive;
	font-size: 22px;
	font-color: #63413b;
	float: left;		
}


.nav a:link{
	text-decoration: none;
	background: #c60;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #FFFFFF;
}

	
.nav a:visited {
	color: #FFF;
	background-color: #C60;
}


.nav a:hover {
	color: #FFFFFF;
	background-color: #666;
}


.nav a:active {
	color: #999;
	background-color: #FFFFFF;
}





	
/*-----------------------------------end of top nav--------*/
	
h2, h3, h4 {
	font-family: Squada One, cursive;
	font-weight: normal;
	font-color:rgb(99,65,58);
}

h2 {
	font-size: 45px;
	text-shadow: 2px 3px 8px #000;
	clear: both;
	color: #FFF;
}

h3 {
	font-size:26px;
}

h4 {
	font-size:22px;
}



article {
	background-color:silver;
	padding:15px;
	
	-moz-column-count:3; /* Firefox */
	-webkit-column-count:3; /* Safari and Chrome */
	column-count:3;

	-moz-column-gap:20px; 
	-webkit-column-gap:20px; 
	column-gap:20px;

	-moz-column-rule:2px outset #fff;
	-webkit-column-rule:2px outset #fff; 
	column-rule:2px outset #fff;
}

#intro img{
	margin-right: auto;
	margin-left: auto 0;
	padding: 20px;
}

#intro p {
	margin: auto;
	padding:30px;	
}

span{
	color:#fff;
	clear:both;
	
}

/*----------------end of columns----------------------*/
#images ul{
	list-style-type: none;
	width:775px;
	border:4px solid #FF8C00;
	margin:auto;
	overflow:hidden;
}

#images li{
	float:left;
	margin:20px;
}

#images a{
	border: 3px solid #000;
	display: block;
	height: 100px;
	width: 100px;
	outline: 0;
}

/* ------------------------end of image gallery--------*/
