body {
	line-height: 1.5em;
	width: 790px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 0px;
	
}


h1 {
	text-indent: -9000px;
	float:right;
}


header img{ 
	border:2px #fff;
	clear:right;
}
		
.nav ul {
	width:600px;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	overflow: hidden;
}
/*----------------------------

.nav li {
	width: 100px;
	background-color: #fff;
	font-family: Yellowtail, cursive;
	font-size: 22px;
	font-color:#63413b;
	float: left;
		
}

	
.nav a:link {
	text-decoration: none;
	background: black;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #e88017;
	
}

.nav a: hover {
	color: #000;
	background-color: red;
	
}
*/
	
	
h2, h3, h4 {
	font-family: Squada One, cursive;
	font-weight: normal;
	font-color:rgb(99,65,58);
}

h2 {
	font-size:36px;
	text-shadow: 1px 2px 2px #111;
}

h3 {
	font-size:26px;
}

h4 {
	font-size:22px;
}



article {
	background-color:silver;
	padding:15px;
	
	-moz-column-count:3; /* Firefox */
	-webkit-column-count:3; /* Safari and Chrome */
	column-count:3;

	-moz-column-gap:20px; 
	-webkit-column-gap:20px; 
	column-gap:20px;

	-moz-column-rule:2px outset #fff;
	-webkit-column-rule:2px outset #fff; 
	column-rule:2px outset #fff;
}

#intro {
	float-left;
}
